.card-widget.music
  .card-content
    .item-headline
      i.fa.fa-music(aria-hidden="true")
      span= _p('Music')
      | <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=230 height=86 src="//music.163.com/outchain/player?type=2&id=27901823&auto=1&height=66"></iframe>